{% extends 'FiThnitek/baseBackFiThnitek.html.twig' %}
{% block container %}
    <section class="content">
    <div class="container-fluid">
    <div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Objectifs</h1>
                 </div><!-- /.row -->
             </div><!-- /.container-fluid -->
         </div>
    </div>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Titre</th>
                <th scope="col">Description</th>
                <th scope="col">Type</th>
                <th scope="col">But</th>
                <th scope="col">Date début</th>
                <th scope="col">Date fin</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            {% for o in table %}
                <tr>
                    <th scope="col">{{ o.IdOjectif }}  </th>
                    <td>{{ o.titre }} </td>
                    <td>{{ o.description }} </td>
                    <td>{{ o.type }} </td>
                    <td>{{ o.but }} </td>
                    <td>{{ o.StartDate|date("d/m/Y") }} </td>
                    <td>{{ o.EndDate|date("d/m/Y") }} </td>
                    <td><a href="{{ path('fi_thnitek_detailsObjectif', {'id': o.IdOjectif}) }}"> <input type="button" value="Details" class="btn btn-block btn-outline-primary btn-sm"></a></td>
                    <td><a href="{{ path('fi_thnitek_modifyObjectif', {'id': o.IdOjectif}) }}"> <input type="button" value="Modifier" class="btn btn-block btn-outline-primary btn-sm"></a></td>
                    <td><a href="{{ path('fi_thnitek_deleteObjectif', {'id': o.IdOjectif}) }}"> <input type="button" value="Supprimer" class="btn btn-block btn-outline-primary btn-sm"></a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    </div>
    </section>
{% endblock %}