{% extends 'FiThnitek/baseBackFiThnitek.html.twig' %}
{% block container %}
    <section class="content">
    <div class="container-fluid">
    <div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Objectifs</h1>
                 </div><!-- /.row -->
             </div><!-- /.container-fluid -->
         </div>
    </div>
        <div class="advance-search">
            <form method="post">
                <div class="form-row">

                    <div class="form-group col-md-6">


                            <select id="type" name="type" class="form-control"><option value="Nombre Utilisateurs">Nombre Utilisateurs</option><option value="Revenues Taxi">Revenues Taxi</option><option value="Activites Taxi">Activites Taxi</option><option value="Revenues Covoiturage">Revenues Covoiturage</option><option value="Activites Covoiturage">Activites Covoiturage</option><option value="Revenues Colis">Revenues Colis</option><option value="Activites Colis">Activites Colis</option><option value="Revenues Totales">Revenues Totales</option><option value="Activites Totales">Activites Totales</option>
                            </select>

                    </div>



                    <div class="form-group col-md-2">

                        <button type="submit" class="btn btn-primary">Search </button>

                    </div>





                </div>

            </form>


        </div>
        <div class="card card-default">
            <div class="card-body">
                <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Titre</th>
                <th scope="col">Description</th>
                <th scope="col">Type</th>
                <th scope="col">But</th>
                <th scope="col">Date début</th>
                <th scope="col">Date fin</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            {% for o in table %}
                <tr>
                    <th scope="col">{{ o.IdObjectif }}  </th>
                    <td>{{ o.titre }} </td>
                    <td>{{ o.description }} </td>
                    <td>{{ o.type }} </td>
                    <td>{{ o.but }} </td>
                    <td>{{ o.StartDate|date("d/m/Y") }} </td>
                    <td>{{ o.EndDate|date("d/m/Y") }} </td>
                    <td><a href="{{ path('fi_thnitek_detailsObjectif', {'id': o.IdObjectif}) }}"> <input type="button" value="Details" class="btn btn-block btn-outline-primary btn-sm"></a></td>
                    <td><a href="{{ path('fi_thnitek_modifyObjectif', {'id': o.IdObjectif}) }}"> <input type="button" value="Modifier" class="btn btn-block btn-outline-primary btn-sm"></a></td>
                    <td><a href="{{ path('fi_thnitek_deleteObjectif', {'id': o.IdObjectif}) }}"> <input type="button" value="Supprimer" class="btn btn-block btn-outline-primary btn-sm"></a></td>
                </tr>
            {% endfor %}
        </table>
            </div>
        </div>
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Performance</h1>
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
        </div>
        <div class="card card-default">
            <div class="card-body">
                <div id="div_chart"></div>
                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                <script type="text/javascript">
                    {{ gc_draw(piechart, 'div_chart') }}
                </script>
            </div>
        </div>

    </div>
    </div>
    </section>
{% endblock %}