{% extends 'FiThnitek/baseBackFiThnitek.html.twig' %}
{% block event %}

{% endblock %}
{% block container %}
    <section class="content">
        <div class="container-fluid">
            <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">LeaderBoards</h1>
                         </div><!-- /.row -->
                     </div><!-- /.container-fluid -->
                 </div>
            </div>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Titre</th>
                        <th scope="col">Description</th>
                        <th scope="col">Taille</th>
                        <th scope="col">Date Début</th>
                        <th scope="col">Date Fin</th>
                        <th scope="col">Categorie</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>

                    {% for l in table %}


                        <tr>
                            <th scope="col">{{ l.Idleaderboard }}  </th>
                            <td>{{ l.title }} </td>
                            <td>{{ l.description }} </td>
                            <td>{{ l.size }} </td>
                            <td>{{ l.StartDate|date("d/m/Y") }} </td>
                            <td>{{ l.EndDate|date("d/m/Y") }} </td>
                            <td>{{ l.category.title }} </td>
                            <td><a href="{{ path('fi_thnitek_modifyLeaderBoard', {'id': l.Idleaderboard}) }}"> <input type="button" value="Modifier"></a></td>
                            <td><a href="{{ path('fi_thnitek_deleteLeaderBoard', {'id': l.Idleaderboard}) }}"> <input type="button" value="Supprimer"></a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </section>
{% endblock %}