{% extends 'FiThnitek/baseBackFiThnitek.html.twig' %}

  {% block content %}



      <section class="content">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-12">
                      <div class="card">
                          <div class="card-header">
                              <h3 class="card-title"> Les  demandes Taxi</h3>
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body p-0">
                              <table class="table table-sm">
                                  <thead>
                                  <tr>
                                      <th >ID demande </th>
                                      <th>Lieu de depart </th>
                                      <th>Lieu d arrive </th>
                                      <th >Periode </th>
                                      <th > ID utilisateur </th>
                                      <th >Etat </th>
                                      <th >Prix</th>
                                      <th>Modifier </th>
                                      <th>Supprimer</th>
                                      <th>Reserver</th>
                                  </tr>
                                  </thead>
                                  {% for i in a %}
                                  <tbody>
                                  <tr>
                                      <td>{{ i.id }}</td>
                                      <td>{{ i.lieudedepart }}</td>
                                      <td>{{ i.lieudarrive }}</td>
                                      <td>{{ i.periode }}</td>
                                      <td>{{ i.iduser.id }}</td>
                                      <td>


                                          {{ i.etat }}</td>
                                      <td> {{ i.prix }}</td>

                                      <td> <a href="{{ path("fi_thnitek_modifierdemandeB",{'id': i.id}) }}" > <button type="button" class="btn btn-block btn-outline-success">Modifier</button>
                                          </a>
                                      </td>
                                     <td>
                                         <a href="{{ path('fi_thnitek_supprimerdemandeB',{'id': i.id }) }}" > <button type="button" class="btn btn-block btn-outline-danger">Supprimer</button> </a>
                                     </td>

                                      <td>   {%  if i.etat == 0 %}
                                              <form method="post">

                                                  <form method="post">
                                                      <input type="submit" class="btn btn-block btn-outline-info" value="reserver" formaction="{{ path('fi_thnitek_reservertaxiB',{'id': i.id }) }} ">
                                                  </form>


                                              </form>
                                          {%  elseif i.etat == 1 %}
                                              <button type="button" class="btn btn-block btn-outline-secondary">Demande Reservee </button>
                                          {% endif %}
                                      </td>
                                  </tr>

                                  </tbody>
                                  {% endfor %}
                              </table>
                          </div>
                          <!-- /.card-body -->
                      </div>
                      <!-- /.card -->
                  </div>
              </div>
              <!-- /.row -->
          </div><!-- /.container-fluid -->

      </section>

  {% endblock %}

{#
{{ block("javascripts", "fithnitek/baseFrontFiThnitek.html.twig") }}
{{ block("navbar", "fithnitek/baseFrontFiThnitek.html.twig") }}
#}
