{% extends 'FiThnitek/baseBackFiThnitek.html.twig' %}
{% block notification %}
    <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-bell"></i>
            <span class="badge badge-warning navbar-badge">{{ b|length }} </span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <span class="dropdown-item dropdown-header">{{ b|length }} Notifications</span>
            <div class="dropdown-divider"></div>
            <a href="{{ path('fi_thnitek_affichenotifchauffeur') }}" class="dropdown-item">
                <i class="fas fa-envelope mr-2"></i> {{ chauffeur|length }} Notification chauffeur
                <span class="float-right text-muted text-sm"></span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="{{ path('fi_thnitek_affichenotifclient') }}" class="dropdown-item">
                <i class="fas fa-users mr-2"></i> {{ client|length }} Notification client
                <span class="float-right text-muted text-sm"></span>
            </a>
        </div>
    </li>


{% endblock %}
  {% block content %}



      <section class="content">
          <div class="container-fluid">
              <div class="row">
                  <div class="advance-search">
                      <form method="post">
                          <div class="form-row">

                              <div class="form-group col-md-8">

                                  <select  class="form-control my-2 my-lg-0" id="inputLocation4" name="user">
                                          {% for i in u  %}

                                      <option valeur="{{ i.id }}"> {{ i.username}}</option>

                                   {% endfor %}

                                  </select>
                              </div>



                              <div class="form-group col-md-2">

                                  <button type="submit" class="btn btn-primary">Search </button>

                              </div>





                          </div>

                      </form>


                  </div>
                  <div class="col-md-12">
                      <div class="card">
                          <div class="card-header">
                              <h3 class="card-title"> Les  demandes Taxi</h3>
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body p-0">
                              <table class="table table-sm">
                                  <thead>
                                  <tr>
                                      <th >ID demande</th>
                                      <th>Titre  </th>
                                      <th> Description </th>


                                      <th >Id Client </th>


                                      <th>Supprimer</th>
                                  </tr>
                                  </thead>
                                  {% for i in chauffeur %}
                                  <tbody>
                                  <tr>
                                      <td><a href="{{ path('fi_thnitek_demande',{'id': i.idarticle.id }) }}">  {{ i.idarticle.id }} </a>

                                         </td>
                                      <td>{{ i.title }}</td>
                                      <td>{{ i.description}}</td>


                                      <td><a href="{{ path('fi_thnitek_user',{'id': i.iduser.id }) }}" >{{ i.iduser.username }}</a></td>


                                      <td> <a  href="{{ path('fi_thnitek_supprimerreservationB',{'id': i.id }) }}" >  <button type="button" class="btn btn-block btn-outline-danger">Supprimer</button>
                                          </a> </td>
                                  </tr>

                                  </tbody>
                                  {% endfor %}
                              </table>
                          </div>
                          <!-- /.card-body -->
                      </div>
                      <!-- /.card -->
                  </div>
              </div>
              <!-- /.row -->
          </div><!-- /.container-fluid -->

      </section>

  {% endblock %}

{#
{{ block("javascripts", "fithnitek/baseFiThnitek.html.twig") }}
{{ block("navbar", "fithnitek/baseFiThnitek.html.twig") }}
#}
